@media screen and (max-width: 700px){
   .banner{
    .banner-left {
        width: 100%;
    }
   }
}
@media screen and (max-width: 700px){
.banner{
    .banner-right {
        width:100%;
        margin: 0px;
        .flex{
            display: flex;
            .banner-2{
                margin: 0;
                .col(50%);
                .content{
                    .name{
                        font-size: 14px;
                       }
                       .type{
                        font-size: 16px;
                       }
                }
            }
            .banner-3{
                .col(50%);
                .line-image{
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    img{
                        position: absolute;
                            top: 0;
                            left: 0;
                    }
                }
                .content{
                    top:20%;
               .name{
                font-size: 14px;
               }
               .type{
                font-size: 16px;
               }
            }
            }
        }
        
    }
}
}
@media screen and (max-width: 700px){
    .product{
        .col(50%) !important;
    }
    }
    @media screen and (max-width: 700px){
        .footer{
            .footer-top{
                .footer-content{
                    .footer-top-item{
                        .col(100%);
                        &.menu{
                            padding-left: 15px;
                        }
                    }
                    
                }
            }
            
        }
       
     }
