.flex(){
    display:flex;
    justify-content: space-between;
    align-items: center;
}
//font Montserrat  
.font-Montserrat(@weight,@size){
    font-family: @font-Montserrat;
    font-weight: @weight;
    font-size: @size;
}
//font Pacifico
.font-Pacifico(){
    font-family: @font-Pacifico;
}
.col (@width) {
    width: @width;
    padding: 0 15px;
    margin: 15px 0;
    box-sizing: border-box;
}